/node_modules
npm-debug.log

*.d.ts
!/types/**/*.d.ts
*.metadata.json
src/*.js

dist
/*.tgz

*.log
**/.DS_Store

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

/.angular/cache
