name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      node-version: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node ${{ env.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node-version }}
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - name: Build for production
        run: yarn build:prod
      - name: Pack
        run: cd dist && npm pack
      - uses: actions/upload-artifact@v4
        with:
          name: npm-package
          path: dist/*.tgz
